<p><%= t('mailers.user_notifications.hello', username: @user.username) %>,</p>

<p><%= t('mailers.user_notifications.tournament_completed.body_html', name: @tournament.name) %></p>

<% if @top3.present? %>
  <p><strong><%= t('mailers.user_notifications.top3') %>:</strong> <%= @top3.join(', ') %></p>
<% end %>

<p>
  <a href="<%= @tournament_url %>"><%= t('tournaments.show.ranking') %></a>
</p>

<p><%= t('mailers.user_notifications.problem_html', contact_url: @contact_url) %></p>
